<div class="ui grid" ng-controller="NavigationController">
    <div class="four wide column">
        <div><h2>File Hydrant</h2></div>
        <div>Version x.y.z</div>
        <div>Logged in as guest</div>
    </div>

    <div class="four wide column">
        <div><h5>Links</h5></div>
        <div>Setup Transmission Remote</div>
        <div>Data Directory</div>
        <div>Extracted Directory</div>
        <div>Network Usage History</div>
    </div>

    <div class="four wide column">
        <div><h5>Shoutbox</h5></div>
        <div>
            <div class="ui mini fluid action input">
                <input placeholder="Shout a message..." type="text">
                <button class="mini ui button">Post</button>
            </div>
            <div>
                <span class="day">1d</span>
                <span class="user">Bob</span>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            </div>
            <div>
                <span class="day">2d</span>
                <span class="user">Jane</span>
                Aenean commodo ligula eget dolor. Aenean massa.
            </div>
        </div>
    </div>

    <div class="four wide column">
        <div><h5>Resources</h5></div>
        <div>Disk</div>
        <div>Memory</div>
        <div>Net</div>
        <div>Load</div>
    </div>
</div>